var

  commands = ["help", "ackbar", "bitcoin", "eval", "hi", "imageme", "karma", "notes", "pugme", "question", "quotes", "rps", "rules", "uptime", "urban", "youtube", "osrc"],
  debug = true,
  redis = false,

  channels = ["<#channel>", "<#channel>"],
  botname = "AWESOM-0",
  server = "<server addr>",

  help = "Hi, I'm " + botname + ". "; // leave blank for no help message

exports.debug = debug
exports.commands = commands
exports.channels = channels
exports.server = server
exports.botname = botname
exports.help = help
